<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- content -->
<mapper namespace="course.javaweb.dao.ContentDao">
    <!-- 结果映射 -->
    <resultMap id="contentMap" type="course.javaweb.model.Content">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sellerId" property="sellerId" jdbcType="INTEGER" />
        <result column="num" property="num" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="icon" property="image" jdbcType="VARCHAR" />
        <result column="summary" property="summary" jdbcType="VARCHAR" />
        <result column="detail" property="detail" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="productMap" type="course.javaweb.model.Product">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sellerId" property="sellerId" jdbcType="INTEGER" />
        <result column="num" property="num" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="icon" property="image" jdbcType="VARCHAR" />
        <result column="summary" property="summary" jdbcType="VARCHAR" />
        <result column="detail" property="detail" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="selectAll">
        SELECT id, price, title, icon, summary, detail, num, sellerId
    </sql>
    <insert id="addContent" parameterType="course.javaweb.model.Content">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `course`.`content` (`price`, `num`, `sellerId`, `title`, `icon`, `summary`, `detail`)
        VALUES (#{price}, #{num}, #{sellerId}, #{title}, #{image}, #{summary}, #{detail});
    </insert>

    <select id="getContentInfo" resultMap="contentMap">
        SELECT id, price, title, icon, summary, detail, num, sellerId
        FROM content
        WHERE id = #{id}
    </select>

    <!-- 查询所有数据 -->
    <select id="findContentAll" resultMap="contentMap">
        SELECT id, price, title, icon, summary, detail, num, sellerId
        <!--<include refid="selectAll" />-->
        FROM content
    </select>

    <!-- 查询对应产品 -->
    <select id="getProduct" resultMap="productMap" >
        SELECT id, price, title, icon, summary, detail, num, sellerId
        FROM content
        WHERE id = #{id}
    </select>

    <delete id="deleteContent" parameterType="Integer">
        DELETE FROM content
        WHERE id = #{id}
    </delete>

    <update id="updateContent" parameterType="course.javaweb.model.Content">
        UPDATE content SET
            price = #{price},
            title = #{title},
            icon = #{image},
            sellerId = #{sellerId},
            summary = #{summary},
            detail = #{detail},
            num = #{num}
        WHERE id = #{id}
    </update>
</mapper>